# Copy config.ini.sample to config.ini or run program once to generate new config.ini file.
[GUI]
windowsposition = 200x60-0-50

[DEFAULT]
port = 1749

[scale1]
host = localhost

[scale2]
host = 127.0.0.1